/* Document-wide styling */
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: NunitoSans;
    background-color:#f5f5f5;
}
.frame {

}
.box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 2px #e5e5e5;
}

/* Login Screen Styling */
#login-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#login-box {
    min-height: 500px;
    min-width: 450px;

    display: grid;
    align-items: center;
    justify-content: center;
}
#logo-img {
    max-height:170px;
    max-width: 345px;
    margin-bottom: 5px;
}
#login-disclaimer {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
    font-family: NunitoSans-LightItalic;
}
.login-field {
    padding: 5px 5px 10px 5px;
    font-size: 1em;
}
#login-field-button {
    display: flex;
    justify-content:flex-end;
}
#login-button {
    padding: 4px 9px;
    background-color: #5757ff;
    border-radius:5px;
    font-family: NunitoSans-Bold;
    font-size: 0.8em;
    color: #eeeeee;
    border-width: 0px;
    transition-duration: 0.25s;
}
#login-button:hover {
    cursor: pointer;
    background-color: #7474ff
}

/* Navigation Bar */
.navbar { /* Navbar container */
    overflow: hidden;
    background-color: #5757ff;
    font-family: NunitoSans-SemiBold;
}
.navbar a {/* Links inside the navbar */
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {/* The dropdown container */
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {/* Dropdown button */
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
.navbar a:hover, .dropdown:hover .dropbtn {/* Add a darker background color to navbar links on hover */
    background-color: #2f2fa5;
}
.dropdown-content {/* Dropdown content (hidden by default) */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {/* Links inside the dropdown */
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {/* Add a grey background color to dropdown links on hover */
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {/* Show the dropdown menu on hover */
    display: block;
}

/* Dashboard Styling */

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 100px;
}
.dashboard-box {
    margin:10px 20px 10px 20px;
    padding: 10px;
}
.box .reimbursement {
    margin-top: 10px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.box .reimbursement * {
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: double;
    border-color: #ddd;
    font-family: NunitoSans-Bold;
}
.box .reimbursement .reimbursement-title, .reimbursement-status {
    text-align: left;
    padding-left: 10px;
}
.box .reimbursement .reimbursement-amount, .reimbursement-date {
    text-align: right;
    padding-right: 10px;
}
#employee-box {
    position: static;
    min-height: 1000px;

    font-family: NunitoSans-Bold;
}
#reimbursement-box {
    grid-column-start:2;
    min-height: 75em;
}

#request-box {
    min-height: 500px;
    min-width: 500px;

    display: grid;
    align-items: center;
    justify-content: center;
}

#employee-info {
    margin: 10px 5px 10px 5px;
    padding: 10px;
}


/* Font-Face Definitions */
@font-face {
    font-family: NunitoSans;
    src: url('fonts/NunitoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: NunitoSans-SemiBold;
    src: url('fonts/NunitoSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: NunitoSans-Bold;
    src: url('fonts/NunitoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: NunitoSans-LightItalic;
    src: url('fonts/NunitoSans-LightItalic.ttf') format('truetype');
}
